.con {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 20px;
}

.konten {
    margin: 20px;
}

.ganti, .hapus {
    margin: 20px;
}

.perjudulan {
    text-align: center;
}